h1 {
    margin: 0;
    padding: 5px;
    color: rgb(17, 17, 17);
    background-color: #AEDB9F;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem !important;
  }
  
  .custom-nav-link {
    margin: 0 1rem;
    font-size: 1.25rem;
  }
  
  .container {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

h5{
    font-family: "Oswald", sans-serif;
}

p{
    font-family: "Oswald", sans-serif;
}

.list-group{
    font-family: "Oswald", sans-serif;
}

.card-link{
    font-family: "Oswald", sans-serif;
}
  